.main-block{
    background-color: white;
    border-style: groove;
    padding:20px;
    width: 850px;
    position: relative;
    margin: auto;
}

.block{
    background-color: gainsboro;
    border-style: groove;
    padding:20px;
    width: 800px;

}


.btn{
    background-color: black;
    color: white;
    padding: 20px;
    width: 100px;
    height: 5px;
    font-size: 10px;
    line-height: 5px;
    position: relative;
    margin-left: 290px;
}

.element{
    float:left;
    margin-right: 25px;
    margin-left: 4px;
}

input{
    margin-bottom: 20px;
}

.sidebar{
    float:right;
    margin-right: 50px;
    margin-left: 4px;
    margin-top: -365px;
    border-left: 3px solid grey;
    height: 385px;
    
}

.contact{
    padding-left: 100px;
}

.stick{
    margin-left: 100px;
    margin-bottom: 50px;
}

.info{
    text-align: center;
    margin-bottom: 30px;
    align-content: center;
    list-style: none;
}