r.banner{
    background-color: blue;
    width: 900px;
    height: 50px;
    position: relative;
    margin: auto;
    padding-bottom: 10px;
}

h2{
    color: white;
    text-align: center;
    padding: 20px;
}

.mainblock{
    background-color: lightgray;
    width: 900px;
    height: 1550px;
    margin-bottom: 100px;
    margin: auto;
}

.inner{
    width: 800px;
    height: 1500px;
    margin: auto;
    background-color: white;
}

.quests{
    padding: 30px;
}

.inputss{
    width: 730px;
    padding: 10px;
}

textarea{
    padding: 10px;
    width: 730px;
}


.numbers{
    padding: 10px;
    border-radius: 2px;
    border-style: ridge;
}

.numbers:hover{
    background-color: teal;
    color: white;
}


.icons{
    border: double;
    padding: 10px;
    height: 60px;
    width: 60px;
    margin-right: 50px;
}